//
//  Config.xcconfig
//  Sibaro
//
//  Created by Armin on 8/14/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - App versions
APP_VERSION = 0.4.1
APP_BUNDLE_VERSION = 5

// MARK: - App display name
APP_NAME = Seebaro

// MARK: - App Bundle Identifier
BASE_BUNDLE_ID = com.seebaro.app
DEV_TEAM = 4LBD36HY9T
DEV_ACCOUNT = huzai

// MARK: - App URL Scheme
URL_SCHEME = seebaro
